<div class="home-background">
  <div class="dark-layer">
    <%= render "layouts/navbar" %>

    <div class="banner">
      <div class="banner-text center-align">
        <h3 class="inline">Nebraska's Rock Party Band</h3>
      </div>
      <div class="sub-banner">
        <div class="inline right">
          <a href="http://www.facebook.com/outloudrock"><%= image_tag "fb.png", class: "facebook-button"%></a>
        </div>
        <div class="inline right center-align sub-banner-text" id="schedule">
          <h5 class="inline">Schedule  <i class="material-icons">keyboard_arrow_down</i></h5>
          <div class="expanded-schedule hide" id="expanded">
            <% @future.each do |f| %>
              <p><%= f.performance_date.strftime("%B %e, %Y")  %> <strong><%= f.venue %></strong></p>
            <% end%>
            <hr>
            <%= link_to "Full Schedule", schedule_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
