
<div class="home-background">

<% if flash[:notice] %>
<div class="modal fade" id="email-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p><%= flash[:notice] %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>



  <div class="row">
    <div class="col-sm-12 text-center">
      <%= image_tag "logo.gif", class: "big-logo" %>
      <h1 class="white-text">Rock and Roll</h1>
    </div>
  </div>
</div>
<a id="about"></a>
<div class="content-container">

  <div class="row section">
    <div class="col-md-6">
      <h1>Out Loud Rocks</h1>
      <p>
        Out Loud is a five piece cover band formed in Lincoln, NE in 2011. We play a wide variety of hit music from the 60’s to today – mainly rock & roll, but also covering such styles as pop, country, funk, and blues. We know over 100 songs and can tailor an event to satisfy many different musical tastes, providing something for everyone. Whether you want an easy listening atmosphere or a hard hitting dance party, we will not disappoint.
      </p>
      <p>
        Out Loud has been called one of the area’s top bands by the local newspaper. We have a great deal of experience playing many types of venues, such as bars, vineyards, weddings, city events, corporate events, and private parties. We are just as at home playing to a packed bar as we are to playing to thousands at a large event, and have even played for crowds of 10,000 people. Out Loud has also played at such premier local concert venues as the Pinnacle Bank Arena Festival Lot, the Pinewood Bowl Theater, and the Railyard. We love to travel and explore new places to play, and have played in Nebraska, Iowa, Minnesota, and Kansas.
      </p>
      <p>
        We pride ourselves on being professional and easy to work with, and can provide everything you need for a successful event. If you would like to speak with us about our availability or have general questions, please reach out with the contact information below. We would love to hear from you!
      </p>
    </div>
    <div class="col-md-6">
      <%= image_tag "18.jpg", class: "full-image"%>
    </div>
  </div>
<a id="contact"></a>
<br><br>
  <div class="pattern-background section">

    <h1>Contact & Booking </h1>
    <div class="row">
      <div class="col-md-5 border-radius">
        <p>
          Contact us to talk about what you want to hear!<br/><br/>For inquiries about
          pricing and availability please call or text Jeff at (402) 669-1248, email us
          at <%= mail_to "outloudrock@gmail.com" %>
          or fill out the form provided.<br/><br/>To help us give you our best price, please
          provide us with details about your event. We will do whatever we can to make
          your event something to remember!<br/><br/>
          To see more photos, events, and fan interaction check out our facebook page!
        </p>
        <h4 class=text-center>Thanks for your interest in Out Loud!</h4>
        <div class="text-center">
          <%=link_to (image_tag "fb.png", alt: "facebook logo"), "https://facebook.com/outloudrock" %>
          <%= image_tag "logo.gif", alt: "out loud speaker logo", class: "logo-medium" %>
        </div>
      </div>
      <div class="col-md-6 border-radius">
        <%= form_tag('/mail') do %>
          <div class="form-group">
            <%= label_tag :name %>
            <%= text_field_tag :name, nil, class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= label_tag :email %>
            <%= text_field_tag :email,nil ,class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= label_tag :phone, "Phone (optional)" %>
            <%= text_field_tag :phone, nil, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= check_box_tag :texting %>
            <%= label_tag :texting, "Prefer Text Message Response" %><br/>
            <%= check_box_tag :calling %>
            <%= label_tag :calling, "Prefer Phone Call Response" %><br/>
            <%= check_box_tag :emailing %>
            <%= label_tag :emailing, "Prefer Email Response" %>
          </div>
          <div class="form-group">
            <%= label_tag :inquiry %>
            <%= text_area_tag :inquiry, nil, rows: 6, class: "form-control", required: true%>
          </div>
          <%= recaptcha_tags %>
          <br/>
          <%= submit_tag "Send Inquiry", class: "btn btn-primary" %>
        <% end %>
        <div class="form-group">

        </div>
      </div>
    </div>
  </div>

</div>

<%= render "layouts/footer" %>
