<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Out Loud has received an inquiry through the website</h1>

    <p><strong>Name:</strong> <%=@name%></p>
    <p><strong>Email:</strong> <%=@email%></p>
    <p><strong>Phone #:</strong> <%=@phone%></p>
    <p><strong>Prefered Contact Method:</strong> <%=@prefered_contact%></p>
    <p><strong>Inquiry:</strong><br/><%=@inquiry%>

    <p>Rock On,<br/><br/><strong>The Out Loud Website Bot</strong>
  </body>
</html>
