<div class="form-wrapper">
  <%= form_for(gig) do |f| %>
    <% if gig.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(gig.errors.count, "error") %> prohibited this gig from being saved:</h2>

        <ul>
        <% gig.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :time %>
      <%= f.text_field :time, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :venue %>
      <%= f.text_field :venue, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :performance_date %>
      <%= f.datetime_field :performance_date, class: "datepicker form-control", id: "performance_date" %>
    </div>

    <div class="form-group">
      <%= f.label :location %>
      <%= f.text_field :location, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
