<div class="nav-container">
  <nav class="nav-color">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo black-text">Out Loud</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons black-text">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Song List", songs_path, class: "black-text" %></li>
        <li><%= link_to "Photos", photos_path, class: "black-text" %></li>
        <li><%= link_to "Schedule", schedule_path, class: "black-text" %></li>
        <li><%= link_to "Reviews", reviews_path, class: "black-text" %></li>
        <li><%= link_to "Contact", contact_path, class: "black-text" %></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to "Song List", songs_path %></li>
        <li><%= link_to "Photos", photos_path %></li>
        <li><%= link_to "Schedule", schedule_path %></li>
        <li><%= link_to "Reviews", reviews_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </div>
  </nav>
</div>
